a {
	color: #C0392B;
}

a:hover {
	color: #E74C3C;
}
/*	Header
/*----------------------------------------------------*/

#header {
    width: 100%;
    background: none;
    min-height: 60px;
}

#header span {
    font-size: 30px;
}

#header .main-nav {
	background-color: #193441;
    border: 0;
    height: 75px;
}

#header .main-nav .navbar-toggle {
	margin-right: 0;
	margin-top: 0;
	background: none;
	position: absolute;
	right: 20px;
	top: 20px;
}

#header .main-nav .navbar-toggle:focus {
	outline: none;
}

#header .main-nav .navbar-toggle .icon-bar {
	background-color: rgba(255, 255, 255, 0.6);
	height: 3px;
}

#header .main-nav .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

#header .main-nav .nav {
	margin-top: 12px;
}

#header .main-nav .nav .nav-item a {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}

#header .main-nav .nav .nav-item.active a {
	color: #3498DB;
	back ground: none;
}

#header .main-nav .nav .nav-item a:hover {
	color: #E74C3C;
	background: none;
}

#header .main-nav .nav .nav-item a:focus {
	outline: none;
	background: none;
}

#header .main-nav .nav .nav-item a:active {
	outline: none;
	background: none;
}

#header .main-nav .nav .nav-item.active {
	color: #333;
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
}

.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}

@media all and (max-width: 1010px) {
    #header { display: none; }
}


/* Override bootstrap default */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background: none;
}



/*	Content Block Main
/*----------------------------------------------------*/

.content-main h4 {
	margin-top: 0;
}

.content-main .redicon {
	font-size: 32px;
	color: #E74C3C;
}

.content-main .centered {
	text-align: center;
}

/*	Content Block Red
/*----------------------------------------------------*/

.content-red h3 { font-weight: 300; }
.content-red h3, .content-red p { color: #ffffff; }

.content-red .icon-outline {
	height: 150px;
	width: 150px;
	max-width: 100%;
	border: 4px solid rgba(255,255,255,0.6);
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin: 0 auto 50px;
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.content-red .icon-outline:hover {
	box-shadow: 0 0 0 14px rgba(255,255,255,0.4);
	color: #fff;
}

.content-red .icon-outline span {
	line-height: 150px;
	color: #fff;
	font-size: 55px;
}

/*	Footer
/*----------------------------------------------------*/

.footer {
	padding-top: 20px;
	padding-bottom: 10px;
}

.footer h3, .footer h4, .footer .lead, .footer li {
	color: #ffffff;
}

.footer h4 {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}

.footer ul {
	list-style-type: none;
	margin: 0 0 26px;
	padding: 0;
}

.footer ul li {
	border-top: 1px solid #bdc3c7;
	line-height: 19px;
	padding: 6px 0;
}

.footer li:first-child {
	border-top: none;
	padding-top: 1px;
}
