body {
    margin: 60px auto;
    /*width: 70%;*/
    margin-top: 70px;
    /* margin-top: 200px; */
}

head_ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    position: fixed;
    top: 0;
    height: 30px;
    background-color: #000066; /* dark blue */
    padding: 10px;
    width: 100%;
}

footer_ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    bottom: 0;
    position: fixed;
    border-top: 1px solid #d5d5d5;
    width: 100%;
    background-color: black;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

li a {
    color: white;
    padding: 10px;
    text-decoration: none; /* to suppress the general hyperlink text decoration */
}

/*
head_ul li a:hover {
    background-color: #0000cc; /* blue */
/*    height: 35px;
}
*/

/* Hyperlinks */
a {
    text-decoration: underline;
    color: blue;
}

/* Hovered (i.e., under mouse) hyperlinks */
a:hover {
    color: green;
}

/* Remove the outline that is shown the the link is clicked */
a, a:hover, a:active, a:focus {
    outline: 0;
}


h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

li {
    display: inline;
}

my_tag {
    color: purple;
}

my_div {
    margin-left: 50px;
    margin-right: 50px";
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

#projects li {
    display: list-item;
    list-style-type:disc;
    margin: 1px;
}

#projects a {
    color: blue;
}
