body {
    margin: 60px auto;
    /*width: 70%;*/
    margin-top: 70px;
    /* margin-top: 200px; */
}

head_ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    position: fixed;
    top: 0;
    height: 30px;
    background-color: #000066; /* dark blue */
    padding: 10px;
    width: 100%;
}

footer_ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    bottom: 0;
    position: fixed;
    border-top: 1px solid #d5d5d5;
    width: 100%;
    background-color: black;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

li a {
    color: white;
    padding: 10px;
}

/*
head_ul li a:hover {
    background-color: #0000cc; /* blue */
/*    height: 35px;
}
*/

a {
    text-decoration: none;
    color: red;
}

a:hover{
    color: green;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

li {
    display: inline;
}
